:root {
    --main-color: #A79277;
}

* {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body, html {
    margin-left: 200px;
    margin-right: 200px;
    padding: 0;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-home {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.home-wrapper {
    display: flex;
    align-items: center;
    font-size: 28px;
    margin-right: 100px;
    cursor: pointer;
}

.home-wrapper > span {
    margin-left: 5px;
    font-weight: bold;
}

nav {
    display: flex;
    float: left;
    height: 100%;
}

.home-nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 0 20px;
    cursor: pointer;
}

.home-nav:hover {
    font-weight: bold;
    border-bottom: 5px solid var(--main-color);
}

.home-nav > span {
    font-size: 24px;
    font-weight: bold;
}